/* Classes comuns */
@import url('https://fonts.googleapis.com/css?family=Varela Round&display=swap');

*{

    padding: 0;
    margin: 0;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
    /* overflow-y: hidden; */

}

body{

    background-color: #FEFAE0;
    scroll-behavior: smooth;
}

.navbar{

    background-color: #5F6F52;

    height: 6em;

    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    position: fixed;

}

.navbar .menu{

    width: 70em;
    height: 6em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.navbar .option{

    height: 3em;
    width: 13em;

    border-radius: 1em;
    border: none;
    font-size: 1.2em;

    background-color: #B99470;
    color: white;

    transition: 200ms;
    
}

.navbar .option:hover{

    background-color: #866a4f;
    transform: scale(1.06);

    transition: 200ms;
    
}

.banner{

    padding-top: 6em;
    height: 20em;

    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

    display: flex;
    align-items: center;
    justify-content: center;

}

.banner .title{

    width: 50em;
    height: 15em;

    background-color: rgba(0, 0, 0, 0.188);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner .title h1{

    color: #FAEF5D;
    font-size: 5em;

}

.banner .title h2{

    color: #FAEF5D;
    font-size: 2em;

}
/* Fim das classes comuns */

/* Classes de corpo */
.center{

    min-height: 30em;
    max-height: max-content;

    margin-top: 2em;
    margin-bottom: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

}

.form{

    background-color: #A9B388;
    width: 40em;
    height: 30em;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 4em;

}

.form h1{

    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;

}

.form form{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.form form label{

    font-weight: bold;
    margin-bottom: .5em;

}

.form form input[type="text"]{

    margin-bottom: 1em;
    height: 1.5em;
    width: 20em;
    border: none;
    border-radius: 1em;

    padding-left: 1em;
    background-color: #FEFAE0;

}

.form form select{

    width: 20em;
    height: 1.5em;
    border: none;
    border-radius: 1em;

    background-color: #FEFAE0;

}

.form form input[type="submit"]{

    margin-top: 2em;
    width: 15em;
    height: 2em;
    color: white;

    background-color: #B99470;
    border: none;
    border-radius: 1em;

    transition: 200ms;

}

.form form input[type="submit"]:hover{
    
    background-color: #866a4f;
    transform: scale(1.06);
    transition: 200ms;
    
}
/* Fim das classes do corpo */